:root {
  --main-color: #6d67e4;
  --secondary-color: #46c2cb;
  --third-color: #10a19d;

  --main-color-hover: #6fdfe7;
  --main-color-active: #27cbd6;

  --color-btn: #fff;
  --color-btn-hover: #fff;
  --color-btn-active: #fff;

  --color-btn-hover-2: #daa917;
  --color-btn-active-2: #ffbf00;
}

.ant-layout .ant-layout-header {
  background: var(--main-color);
  height: 1rem;
  padding-inline: 0rem;
  @apply flex flex-col items-center md:h-[1.6rem];
}

.ant-layout-header .container {
  width: 100%;
  height: 1rem;
  max-width: 15rem;
  padding-inline: 0.3rem;
  @apply flex flex-row items-center justify-center;
}

.ant-layout-header .nav {
  width: 100%;
  height: 0.6rem;
  padding-inline: 0.3rem;
  background: var(--third-color);
  @apply flex justify-center items-center;
}

.ant-layout-header .nav ul {
  width: 100%;
  max-width: 15rem;
  height: 100%;
  background: var(--third-color);
  list-style-type: none;
  @apply flex items-center;
}

.ant-layout-header .nav ul li {
  height: 100%;
  @apply flex items-center;
}

.ant-layout-header .nav ul li .ant-btn-link {
  color: white;
  font-size: 0.2rem;
  font-weight: 600;
  height: 100%;
}

.ant-layout-header .nav ul li .ant-btn-link:hover {
  color: var(--color-btn-hover-2);
}

.ant-layout-header .nav ul li .ant-btn-link:active {
  color: var(--color-btn-active-2);
}

.ant-layout-header .nav ul li .ant-btn-link-selected {
  color: var(--color-btn-active-2);
}

.ant-layout-header .col-left {
  width: 25%;
  @apply md:hidden;
}

.ant-layout-header .logo {
  height: 100%;
  width: 50%;
  padding: 0.15rem 0rem;
  @apply flex justify-center md:justify-start md:w-1/4;
}

.ant-layout-header .logo img {
  height: 100%;
}
.ant-layout-header .col-right {
  width: 25%;
  @apply flex justify-end items-center md:w-3/4;
}

.ant-badge .ant-badge-count {
  transform: none;
}

.wrap-btn .ant-btn-link {
  color: var(--color-btn);
  @apply flex items-center justify-center;
}

.wrap-btn .ant-btn-link:hover {
  color: var(--main-color-hover);
}

.wrap-btn .ant-btn-link:active {
  color: var(--main-color-active);
}

.wrap-btn .btn-text {
  font-size: 0.25rem;
  font-weight: 350;
}

.icon-btn {
  font-size: 0.5rem;
}

.ant-input-wrapper .ant-input:hover {
  border-color: var(--main-color-hover);
}

.ant-input-wrapper .ant-input:focus {
  border-color: var(--main-color-active);
}

.ant-input-wrapper .ant-input-search-button {
  color: white !important;
  @apply flex items-center justify-center;
}

.ant-input-wrapper .ant-input-search-button:hover {
  border-color: var(--main-color-hover);
}

.ant-input-wrapper .ant-input-search-button:active {
  border-color: var(--main-color-active);
}

.mrc-1 {
  margin-right: 0.05rem;
}

.sideBar {
  height: 100%;
  width: 0;
  position: fixed;
  transition: 0.5;
  z-index: 1000;
  overflow-x: hidden;
  margin-top: 1rem;
  color: black;
  background-color: rgba(173, 173, 173, 0.274);
  transition: all 0.5s;
}

.sideBar .ant-input-search-button {
  color: black !important;
}

.sideBarOpen {
  width: 100%;
}

.sideBar .container {
  background-color: white;
  max-width: 100%;
}

.home {
  width: 100%;
  @apply flex flex-col justify-center items-center px-[0.3rem];
}

.home .container {
  width: 100%;
  max-width: 15rem;
}

.home .container .filter {
  border-bottom: 1px solid #d9d9d9;
  @apply flex items-center py-[0.3rem];
}

.row {
  @apply grid grid-cols-2 gap-[0.2rem] md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5;
}

.col {
  padding-bottom: 0.1rem;
  cursor: pointer;
}

.col .thumbnail {
  position: relative;
  margin-bottom: 0.1rem;
}

.col img {
  border-radius: 20px;
}

.col .thumbnail .ratting {
  position: absolute;
  top: 5px;
  left: 8px;
  font-weight: 500;
}

.col .thumbnail .star {
  color: #ffbf00;
  @apply absolute top-[9px] left-[28px];
}

.col .thumbnail .comment {
  font-weight: 600;
  color: #2f5acf;
  @apply absolute top-[4.2px] left-[43px];
}

.col .info p {
  line-height: 18px;
}

.col .info .title {
  font-weight: 600;
}

.button-radio {
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  margin-right: 15px;
  padding: 0 25px;
  font-size: 0.2rem;
  margin-top: 7px;
  height: 35px;
}

.button-radio:hover,
.button-radio-size:hover {
  border: 1px solid #ff9113;
}

.button-radio-size {
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  font-size: 0.2rem;
  margin-top: 7px;
  height: 35px;
}

.button-radio-selected {
  border: 1px solid #ff8800;
}

.button-number {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 40px;
  position: relative;
  font-size: 20px;
  height: 40px;
  margin-right: 15px;
}

.button-number .add {
  position: absolute;
  left: 10px;
  top: 5px;
}

.button-number .minus {
  position: absolute;
  right: 10px;
  top: 5px;
}

.button-number-cart {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 40px;
  position: relative;
  font-size: 15px;
  height: 25px;
  margin-right: 15px;
}

.button-number-cart .add {
  position: absolute;
  left: 10px;
  top: 0px;
}

.button-number-cart .minus {
  position: absolute;
  right: 10px;
  top: 0px;
}


.button-add-cart {
  border-radius: 20px;
  background-color: #2f5acf;
}

.borderRight {
  @apply md:border-r-[1px] md:border-solid md:divide-gray-300;
}

.button-pay {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
}

.button-pay:hover {
  background-color: #d9d9d9;
  color: #000;
}
