:root {
  --main-color: #6d67e4;
  --secondary-color: #46c2cb;
  --third-color: #10a19d;

  --main-color-hover: #6fdfe7;
  --main-color-active: #27cbd6;

  --color-btn: #fff;
  --color-btn-hover: #fff;
  --color-btn-active: #fff;

  --color-btn-hover-2: #daa917;
  --color-btn-active-2: #ffbf00;
}

.ant-layout .ant-layout-header {
  background: var(--main-color);
  height: 1rem;
  padding-inline: 0rem;
  @apply flex flex-col items-center md:h-[1.6rem];
}

.ant-layout-header .container {
  width: 100%;
  height: 1rem;
  max-width: 15rem;
  padding-inline: 0.3rem;
  @apply flex flex-row items-center justify-center;
}

.ant-layout-header .nav {
  width: 100%;
  height: 0.6rem;
  padding-inline: 0.3rem;
  background: var(--third-color);
  @apply flex justify-center items-center;
}

.ant-layout-header .nav ul {
  width: 100%;
  max-width: 15rem;
  height: 100%;
  background: var(--third-color);
  list-style-type: none;
  @apply flex items-center;
}

.ant-layout-header .nav ul li {
  height: 100%;
  @apply flex items-center;
}

.ant-layout-header .nav ul li .ant-btn-link {
  color: white;
  font-size: 0.2rem;
  font-weight: 600;
  height: 100%;
}

.ant-layout-header .nav ul li .ant-btn-link:hover {
  color: var(--color-btn-hover-2);
}

.ant-layout-header .nav ul li .ant-btn-link:active {
  color: var(--color-btn-active-2);
}

.ant-layout-header .nav ul li .ant-btn-link-selected {
  color: var(--color-btn-active-2);
}

.ant-layout-header .col-left {
  width: 25%;
  @apply md:hidden;
}

.ant-layout-header .logo {
  height: 100%;
  width: 50%;
  padding: 0.15rem 0rem;
  @apply flex justify-center md:justify-start md:w-1/4;
}

.ant-layout-header .logo img {
  height: 100%;
}
.ant-layout-header .col-right {
  width: 25%;
  @apply flex justify-end items-center md:w-3/4;
}

.ant-badge .ant-badge-count {
  transform: none;
}

.wrap-btn .ant-btn-link {
  color: var(--color-btn);
  @apply flex items-center justify-center;
}

.wrap-btn .ant-btn-link:hover {
  color: var(--main-color-hover);
}

.wrap-btn .ant-btn-link:active {
  color: var(--main-color-active);
}

.wrap-btn .btn-text {
  font-size: 0.25rem;
  font-weight: 350;
}

.icon-btn {
  font-size: 0.5rem;
}

.ant-input-wrapper .ant-input:hover {
  border-color: var(--main-color-hover);
}

.ant-input-wrapper .ant-input:focus {
  border-color: var(--main-color-active);
}

.ant-input-wrapper .ant-input-search-button {
  color: white !important;
  @apply flex items-center justify-center;
}

.ant-input-wrapper .ant-input-search-button:hover {
  border-color: var(--main-color-hover);
}

.ant-input-wrapper .ant-input-search-button:active {
  border-color: var(--main-color-active);
}

.mrc-1 {
  margin-right: 0.05rem;
}

.sideBar {
  height: 100%;
  width: 0;
  position: fixed;
  transition: 0.5;
  z-index: 1000;
  overflow-x: hidden;
  margin-top: 1rem;
  color: black;
  background-color: rgba(173, 173, 173, 0.274);
}

.sideBar .ant-input-search-button {
  color: black !important;
}

.sideBarOpen {
  width: 100%;
}

.sideBar .container {
  background-color: white;
  max-width: 100%;
}
